# Example secrets file for `make test-publish`
# Copy to `.secrets` and populate values below before running publish locally.
# Each line is KEY=VALUE

APT_GPG_PRIVATE_KEY=-----BEGIN PGP PRIVATE KEY BLOCK-----\n...\n-----END PGP PRIVATE KEY BLOCK-----
APT_GPG_PASSPHRASE=
APT_GPG_KEY_ID=XXXXXXXXXXXXXXXX
